USE [master]
GO
/****** Object:  Database [ADMIN_1]    Script Date: 01.12.2021 7:57:46 PM ******/
CREATE DATABASE [ADMIN_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ADMIN_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRES\MSSQL\DATA\ADMIN_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ADMIN_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRES\MSSQL\DATA\ADMIN_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ADMIN_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ADMIN_1]
GO
/****** Object:  Table [dbo].[User]    Script Date: 01.12.2021 7:57:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserPass] [nvarchar](50) NULL,
	[DisplayName] [nvarchar](50) NULL,
	[IsAdmin] [nchar](10) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[User] ([Id], [UserName], [UserPass], [DisplayName], [IsAdmin]) VALUES (1, N'petarperic', N'pera321', N'Petar Petrovic', N'No        ')
INSERT [dbo].[User] ([Id], [UserName], [UserPass], [DisplayName], [IsAdmin]) VALUES (2, N'simasavic', N'sima522', N'Sima Savic', N'Yes       ')
INSERT [dbo].[User] ([Id], [UserName], [UserPass], [DisplayName], [IsAdmin]) VALUES (3, N'vanjamisic', N'vanjamis', N'Vanja Misic', N'Yes       ')
GO
USE [master]
GO
